body {
    background-color: rgb(30, 30, 30);
}

.button-container {
    background-color: rgb(61, 61, 61);
    height: 120px;
    position: relative;
}

.button {
    background-color: rgb(92, 91, 90);
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    width: 12%;
    border-width: 1px;
    border-radius: 12px;
    position: absolute;

    color: white;
    font-size: 16px;
    font-weight: bold;
}

.bar-container {
    margin: auto;
    width: 1000px;
    height: 430px;
    position: relative;
    background-color: transparent;
}

.bar {
    position: absolute;
    bottom: 0px;
    margin: 0 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.side-container {
    width: 10%;
    height: 75px;
    position: absolute;
    right: 80px;
    margin-top: 35px;
    /* background-color: yellow; */
    background-color:rgb(61, 61, 61);
}

.barnum-slider {
    margin-top: 50%;
    -webkit-appearance: none;
    height: 10px;
    width: 90%;
    background: #d3d3d3;
    opacity: 0.7;
    border-radius: 15px;
  }
  
.barnum-slider::-webkit-slider-thumb {
    border-radius: 13px;
    appearance: none;
    width: 26px;
    height: 26px;
    background: rgb(187, 145, 248);
}

.speed-slider {
    margin-top: 40%;
    -webkit-appearance: none;
    height: 7px;
    width: 90%;
    background:white;
    opacity: 0.7;
    border-radius: 15px;
  }
  
.speed-slider::-webkit-slider-thumb {
    border-radius: 9px;
    appearance: none;
    width: 18px;
    height: 18px;
    background: lightgrey;
}